<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 게시물 상세페이지</title>
    <%- include('../include/head.ejs') %>
</head>

<body>
    <%- include('../include/header.ejs') %>
        <main class="mx-auto px-4 sm:px-24 md:px-36 lg:px-80 pt-20">
            <h1 class="text-3xl font-extrabold mb-10 text-center">
                <%= post.postTitle %>
            </h1>
            <div class="text-gray-500 mb-5">
                <div class="flex justify-between items-center">
                    <div>
                        <span class="font-semibold mr-2">by <%= post.User.userNick %></span>
                        <span class="text-sm">
                            <%= new Date(post.createdAt).toLocaleDateString() %>
                        </span>
                    </div>
                    <div>
                        <button type="button"
                            class="bg-gray-500 text-white font-semibold py-0.5 px-1 text-xs md:text-sm md:py-1 md:px-3 rounded mr-0.5 md:mr-2 hover:bg-green-600"
                            onclick="updatePost('<%= post.postId %>', '<%= post.userId %>')">수정</button>
                        <button type="button"
                            class="bg-gray-500 text-white font-semibold py-0.5 px-1 text-xs md:text-sm md:py-1 md:px-3 rounded hover:bg-red-600"
                            onclick="deletePost('<%= post.postId %>', '<%= post.userId %>')">
                            삭제
                        </button>

                    </div>
                </div>
                <hr class="border border-gray-300 my-2">
            </div>
            <div class="mt-5">
                <p>
                    <%= post.postContent %>
                </p>
            </div>
            <hr class="border border-gray-300 my-6">
            <span class="font-semibold mr-2 text-lg">댓글</span>
            <form id="commentForm" name="comment" class="space-y-4 mt-4">
                <textarea id="comment" name="text" placeholder="댓글을 작성하세요.(100자 이하)" maxlength="100"
                    class="w-full h-24 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"></textarea>
                <div class="flex justify-end">
                    <button type="submit"
                        class="bg-blue-500 text-white font-semibold py-0.5 px-1 md:py-1 md:px-3 rounded hover:bg-blue-600">댓글
                        작성</button>
                </div>
            </form>
            <div id="comment-section" class="mb-6 mt-6 pt-10">
                <p id="no-comments" class="text-gray-500">댓글이 없습니다.</p>
            </div>

            <div id="comment-section" class="mb-6 mt-6 pt-10">
            </div>


        </main>
        <%- include('../include/footer.ejs') %>
</body>

<script>
    // 수정 버튼 클릭 시
    async function updatePost(postId, userId) {
        try {
            // 입력폼 페이지로 이동하는 코드
            window.location.href = ``; // url 입력 필요.
        } catch (error) {
            console.error('update error>>', error);
        }
    }


    // 삭제 버튼 클릭시
    async function deletePost(postId, userId) {
        try {
            if (window.confirm('게시물을 삭제하시겠습니까?')) {
                const response = await axios.patch(`/post/${postId}/delete`);
                if (response.data.success) {
                    console.log('Delete successful');
                    // 클라이언트 측에서 리다이렉트 처리
                    window.location.href = `/post/list/${userId}/1/12`;
                } else {
                    console.log('Delete failed');
                    // 삭제 실패 처리
                }
            }
        } catch (error) {
            console.error('delete error>>', error);
        }
    }


</script>

</html>