<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 게시물 상세페이지</title>
    <%- include('../include/head.ejs') %>
</head>

<body>
    <%- include('../include/header.ejs') %>
        <main class="mx-auto px-4 sm:px-24 md:px-36 lg:px-80 pt-20">
            <h1 class="text-3xl font-extrabold mb-10 text-center">블로그 게시물 제목</h1>
            <div class="text-gray-500 mb-5">
                <div class="flex justify-between items-center">
                    <div>
                        <span class="font-semibold mr-2">by 홍길동</span>
                        <span class="text-sm">2024-7-12</span>
                    </div>
                    <div>
                        <button type="button"
                            class="bg-blue-500 text-white font-semibold py-0.5 px-1 text-xs md:text-sm md:py-1 md:px-3 rounded mr-0.5 md:mr-2 hover:bg-blue-600">수정</button>
                        <button type="button"
                            class="bg-red-500 text-white font-semibold py-0.5 px-1 text-xs md:text-sm md:py-1 md:px-3 rounded hover:bg-red-600">삭제</button>
                    </div>
                </div>
                <hr class="border border-gray-300 my-2">
            </div>
            <div class="mt-5">
                <p>
                    이곳에 게시물의 내용이 들어갑니다. 게시물 내용이 길 경우 여러 문단으로 나누어 작성할 수 있습니다.
                    예를 들어, 여기에 첫 번째 문단의 내용이 들어갑니다.
                </p>
                <p>
                    두 번째 문단의 내용은 여기서 시작됩니다. 블로그 게시물은 일반적으로 다양한 형식의 텍스트, 이미지, 링크 등을 포함할 수 있습니다.
                </p>
            </div>
            <hr class="border border-gray-300 my-6">
            <span class="font-semibold mr-2 text-lg">댓글</span>
            <form name="comment" class="space-y-4 mt-4">
                <textarea id="text" name="text" placeholder="댓글을 작성하세요.(100자 이하)" maxlength="100"
                    class="w-full h-24 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"></textarea>
                <div class="flex justify-end">
                    <button type="submit"
                        class="bg-blue-500 text-white font-semibold py-0.5 px-1 md:py-1 md:px-3 rounded hover:bg-blue-600">댓글
                        작성</button>
                </div>
            </form>
            <!-- <div id="comment-section" class="mb-6 mt-6">
                <% if (comments.length> 0) { %>
                    <ul>
                        <% comments.forEach(function(comment) { %>
                            <li class="mb-4">
                                <strong class="block text-gray-700">
                                    <%= comment.username %>
                                </strong>
                                <p class="text-gray-600">
                                    <%= comment.text %>
                                </p>
                            </li>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <p class="text-gray-600">댓글이 없습니다.</p>
                        <% } %>
            </div> -->
            <div id="comment-section" class="mb-6 mt-6 pt-10">
                <ul>
                    <li class="mb-4">
                        <div class="flex justify-between">
                            <div class="flex items-center mb-2">
                                <p class="text-gray-700 font-semibold mr-2">홍길동</p>
                                <p class="text-gray-600 text-sm">2024-07-12</p>
                            </div>
                            <div>
                                <button type="button"
                                    class="bg-blue-500 text-white font-semibold py-0.5 px-1 text-xs md:py-1 md:px-3 rounded mr-0.5 md:mr-2 hover:bg-blue-600">수정</button>
                                <button type="button"
                                    class="bg-red-500 text-white font-semibold py-0.5 px-1 text-xs md:py-1 md:px-3 rounded hover:bg-red-600">삭제</button>
                            </div>
                        </div>
                        <p class="text-gray-600 pb-1">댓글 내용이 여기에 들어갑니다.</p>
                        <button type="button"
                            class="reply-btn bg-gray-200 py-0.5 px-1 text-xs md:py-1 md:px-3 rounded">답글</button>
                        <div class="reply-form hidden mt-2">
                            <textarea class="w-full p-2 border rounded mb-2" placeholder="대댓글 입력"></textarea>
                            <button type="button"
                                class="bg-green-500 text-white font-semibold py-1 px-3 rounded hover:bg-green-600">등록</button>
                        </div>
                    </li>
                    <li class="mb-4">
                        <div class="flex items-center mb-2">
                            <p class="text-gray-700 font-semibold mr-2">아무개</p>
                            <p class="text-gray-600 text-sm">2024-07-12</p>
                        </div>
                        <p class="text-gray-600">댓글 내용이 여기에 들어갑니다.</p>
                    </li>
                </ul>
            </div>


        </main>
        <%- include('../include/footer.ejs') %>
</body>

</html>